.App {
  text-align: center;
}
.nav-bg {
  background-color: white;
}

.bran-pic {
  height: 40px;
  padding-left: 10%;
  padding-right: 10%;
}
.bran {
  padding-left: 50%;
}

.head {
  padding-top: 70px;
  text-align: center;
  background-color: #2193b0;
}

.heading {
  font-family: "Josefin Sans", cursive;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}
.btn {
  padding-right: 7%;
  padding-left: 7%;
  margin-right: 10%;
}

.title-image {
  height: 90%;
  width: 80%;
}

/*Features*/

.feature-title {
  font-size: 1.5rem;
  color: #2193b0;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #2193b0;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #00cdac;
}

/*Testimonial*/
#testimonials {
  background-color: #125d98;
}

.testimonial-text {
  font-family: "Josefin Sans", cursive;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  text-align: center;
  padding: 10% 10% 0 10%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  margin-bottom: 10%;
}
em {
  color: white;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/*courses*/
#course {
  padding: 5%;
}
.car {
  border-radius: 5%;
  border-color: white;
  box-shadow: 0 0 20px #999b84;
}
.car-para {
  font-size: 1.3rem;
  padding-left: 10%;
  padding-right: 10%;
}

.section-heading {
  color: #2193b0;
  font-family: "Josefin Sans", cursive;
  font-weight: bold;
  font-size: 3rem;
}
.course-img {
  height: 90%;
  width: 100%;
  border-radius: 5%;
}

.cour {
  padding-bottom: 5%;
}
.cour-link {
  text-decoration: none;
  font-family: "Josefin Sans", cursive;
  font-weight: bold;
  font-size: 2rem;
  color: #2193b0;
}
.cour-link:hover {
  color: #00cdac;
}
/*join*/
#join {
  background-color: #2193b0;
  padding: 5%;
}
.joi {
  color: white;
  font-family: "Josefin Sans", cursive;
  font-weight: bold;
}
/*Footer*/
#footer {
  padding: 3%;
}
.social-icon {
  margin: 20px 30px;
}

.social-icon:hover {
  color: grey;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
